.nav_buttons {
    display: inline-block;
    padding: 15px;
    background-color: darkseagreen;
}

#nav_bar {
    background-color: black;
}

#left {
    width: 29%;
    float: left;
    height: 800px;
    background-color: cornsilk;
}

#right {
    width: 71%;
    float: left;
    height: 800px;
    background-color: mintcream;
}

#top {
    height: 300px;
    background-color: darkslateblue;
}

#bottom {
    height: 500px;
    background-color: darkseagreen;
}

#pet_photo  {
    height: 200px;
    width: 200px;
}

#pet_name {
    text-align: center;
    color: white;
}

#dog_walk {
    height: 400px;
    width: 300px;
    display: inline-block;
}

